<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GoogleConsoleAPIAccessKey" value="AIzaSyDLprSNzxV7aDRMGd1KjBSP6PS320XFLE8" />
    <add key="FirebaseSenderKey" value="506544097036" />
    <add key="FirebaseServerAPIKey" value="AIzaSyCFjYrZTMKpXjCzASSGbRN6DPeNFVTph7s" />

    <add key="Host" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="AIzaSyCFjYrZTMKpXjCzASSGbRN6DPeNFVTph7s" />
    <add key="Password" value="AIzaSyCFjYrZTMKpXjCzASSGbRN6DPeNFVTph7s" />
    <add key="Port" value="587" />
  </appSettings>
  <connectionStrings>
    <add name="StoreCommEntities" connectionString="metadata=res://*/StoreCommModel.csdl|res://*/StoreCommModel.ssdl|res://*/StoreCommModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=StoreComm;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>

    <compilation debug="true" targetFramework="4.0" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>
    <services>
      <service behaviorConfiguration="SaleItemServiceBehaviour" name="SaleItemsWeb.SaleItemService">
        <endpoint address="" behaviorConfiguration="Web" binding="webHttpBinding" contract="SaleItemsWeb.ISaleItemService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SaleItemServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Web">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <bindings>
      
      <basicHttpBinding>
        <binding maxReceivedMessageSize="10485760" ></binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding
          maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" 
          maxBufferSize="2147483647" transferMode="Streamed">
        </binding>
      </webHttpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true"
                                  logMalformedMessages="true"
                                  logMessagesAtServiceLevel="true"
                                  logMessagesAtTransportLevel="true"
                                  maxMessagesToLog="500"/>
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="500000000"></requestLimits>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
                   switchValue="All"
                   propagateActivity="true">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"
                   switchValue="All">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="D:\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>

</configuration>
